@Model UserSignup.Models.User

<table>
    <tr>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>@Model.UserId</td>
    </tr>
    <tr>
        <td>@Model.FavColor</td>
    </tr>
    <tr>
        <td>@Model.CreateDate</td>
    </tr>
</table>
